/* Making the Form input responsive */

/* Tablet */

@media screen and (max-width: 739px) {
  .custom-input {
    width: 91% !important;
  }
}

@media screen and (max-width: 660px) {
  .custom-input {
    width: 90% !important;
  }
}

@media screen and (max-width: 597px) {
  .custom-input {
    width: 89% !important;
  }
}

@media screen and (max-width: 544px) {
  .custom-input {
    width: 88% !important;
  }
}

@media screen and (max-width: 501px) {
  .custom-input {
    width: 87% !important;
  }
}

@media screen and (max-width: 464px) {
  .custom-input {
    width: 86% !important;
  }
}

@media screen and (max-width: 433px) {
  .custom-input {
    width: 85% !important;
  }
}

