/* Making Form responsive */

/* Mobile-L */

@media screen and (max-width: 405px) {
  .custom-input {
    width: 84% !important;
  }
}

@media screen and (max-width: 381px) {
  .custom-input {
    width: 83% !important;
  }
}

/* Mobile-M */

@media screen and (max-width: 360px) {
  .custom-input {
    width: 81% !important;
  }
}

@media screen and (max-width: 325px) {
  .custom-input {
    width: 79% !important;
  }
}

/* Mobile-S */

@media screen and (max-width: 322px) {
  .col-10 {
    padding-left: 0.375rem !important;
  }
}

@media screen and (max-width: 294px) {
  .custom-input {
    width: 78% !important;
  }
}

@media screen and (max-width: 284px) {
  .custom-input {
    width: 77% !important;
  }
}

/* Making buttons responsive */

@media screen and (max-width: 358px) {
  .edit-btn {
    padding: 0 0.125rem;
  }
  .delete-btn {
    padding: 0 0.125rem;
  }
}

@media screen and (max-width: 322px) {
  .edit-btn {
    padding-left: 0rem;
  }
}
