/* Making input form responsive */

/* 4k */

@media screen and (max-width: 2560px) {
  .custom-input {
    width: 95% !important;
  }
}

@media screen and (max-width: 2338px) {
  .custom-input {
    width: 94.4% !important;
  }
}

@media screen and (max-width: 2093px) {
  .custom-input {
    width: 94% !important;
  }
}

@media screen and (max-width: 2057px) {
  .custom-input {
    width: 93.9% !important;
  }
}

@media screen and (max-width: 1925px) {
  .custom-input {
    width: 93.3% !important;
  }
}

@media screen and (max-width: 1757px) {
  .custom-input {
    width: 92.5% !important;
  }
}

@media screen and (max-width: 1575px) {
  .custom-input {
    width: 92% !important;
  }
}

@media screen and (max-width: 1479px) {
  .custom-input {
    width: 91% !important;
  }
}

/* Working on padding of button element. */

@media screen and (max-width: 2560px){
  .btn-row{
    padding-left: 6.25rem !important;
  }
}

@media screen and (max-width: 2301px){
  .btn-row{
    padding-left: 5rem !important;
  }
}

@media screen and (max-width: 2060px){
  .btn-row{
    padding-left: 3.75rem !important; 
  }
}