/* Padding for awesome font */
.i-head {
  padding: 0.32rem 0 0 0;
}

/* Designing list item & dustbin button*/
ul {
  list-style-type: none;
  float: left;
  padding: 0.125rem 0 0 0 !important;
  margin: 0 0 0 0 !important;
}
li {
  font-family: "Kalam", cursive;
  color: darkblue;
  font-size: medium;
}
.dustbin-btn {
  /* background-color: blue; */
  border: none;
  background-color: transparent;
  padding: 0 0.625rem;
}
.edit-btn {
  border: none;
  /* background-color: blue; */
  padding: 0 0.625rem;
  background-color: transparent;
}

/* Fix for heading */
.heading {
  padding: 0.75rem 0 0 0;
}

/* Background for tasks */
.daily {
  background-color: #ff9a9a;
  padding-bottom: 0.3125rem;
}

/* Background for goals */
.goal {
  background-color: #75b78f;
  padding-bottom: 0.3125rem;
}

/* Fixing the space of entry */
.entry-fix {
  padding: 0 0.75rem;
}

/* Adding background to container */
.background {
  background-image: url("../notebook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

/* Fixing input bar and button */
.custom-input {
  display: inline !important;
  width: 95% !important;
  padding-top: 0.125rem;
  margin: 0 0 0.75rem 0.0625rem;
}

.btn {
  margin-left: 0.5625rem;
}

/* Strike through text */
.done {
  text-decoration: line-through;
  color: darkslategrey;
}

/* To add padding to the rows */
.custom-row {
  padding: 0.1875rem 0;
}
